
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@charset "utf-8";

/* CSS Document */

html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  font: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #02688e;
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
  background-position: center top;
}

#homePageDiv {
  background-image: url(../img/intro_bckrnd.png);
  background-repeat: repeat;
  height: 100%;
  width: 1069px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 0px;
  background-position: left;
}

#full {
  width: 100%;
  height: 100%;
  background-image: url(../img/background.jpg);
  background-position: center top;
  background-repeat: repeat;
  overflow: auto;
}

.vesti {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bolder;
  color: #00F;
  line-height: normal;
}

.red {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bolder;
  color: #F00;
  line-height: normal;
}

.left_shadow {
  width: 23px;
  height: 100%;
}

.main_white_page {
  width: 788px;
  padding-top: 0px;
  padding-right: 120px;
  padding-bottom: 0px;
  padding-left: 120px;
  text-align: left;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-image: url(../img/pozadina_centar.png);
}

.arial_10_999 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #999;
}

.arial_11_orange {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #f2a10d;
  padding-left: 18px;
}

.arial_11_company {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #007eaa;
}

.arial_11_4d {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #4d4d4d;
}

.arial_11_8b {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
}

.arial_28_bold_white {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #FFF;
  font-weight: bold;
}

a {
  &.link_arial_10_gray {
    &:link, &:visited {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      color: #999;
      text-decoration: none;
    }
    &:hover {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      color: #000;
      text-decoration: none;
    }
  }
  &.link_arial_11_darkgray {
    &:link, &:visited {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      color: #4d4d4d;
      text-decoration: none;
    }
    &:hover {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      color: #000;
      text-decoration: none;
    }
  }
  &.link_arial_11_company {
    &:link, &:visited {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      font-weight: bold;
      color: #007eaa;
      text-decoration: none;
    }
    &:hover {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 1em;
      color: #005776;
      text-decoration: none;
    }
  }
}

.header {
  height: 86px;
  width: 788px;
  margin: 0px;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;

  .header_left_logo {
    float: left;
    height: 86px;
    width: 184px;
  }

  .header_right_menu {
    float: right;
    height: 31px;
    width: 570px;
    padding-top: 55px;
    padding-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: #02688e;
    background-image: url(../img/header_gradient.jpg);

    .top-contact-info {
      color: white;
      position: absolute;
      top: 0px;
      right: 0px;
      margin: 8px 16px;
      text-align: right;
    }

    .main-navigation {

      a {
        font: 8pt Arial, Verdana;
        color: #FFF;
        text-transform: none;
        text-decoration-line: none;
      }

      nav {
        ul {
          list-style: none;
          padding-left: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .nav {
        //width: 500px;
        //margin: 0 auto;
        //background: darken( $cor-3, 10% );
        color: #f0f0f0;
        a {
          display: block;
          padding: 0 5px;
          line-height: inherit;
          cursor: pointer;
        }

        &__menu {
          line-height: 25px;
          font-weight: 700;
          text-transform: uppercase;
          &-item {
            display: inline-block;
            position: relative;

            &:hover {
              color: #000;

              .nav__submenu {
                display: table;
              }
            }
          }

        }


        &__submenu {
          font-weight: 300;
          text-transform: none;
          display: none;
          position: absolute;
          width: auto;
          color: #000;
          background-color: #dcdcdc;
          padding: 0 2px;
          white-space: nowrap;

          &-item {
            background-color: #006699;
            margin: 2px 0;
            a {
              padding: 1px 5px;
            }
            &:hover {
              a {
                color: #000;
              }
            }
          }
        }

      }
    }
  }
}


.baner_big {
  height: 292px;
  width: 788px;
  margin: 0px;
  padding: 0px;
}

.banner_left {
  float: left;
  height: 262px;
  width: 586px;
}

.banner_right {
  float: right;
  height: 262px;
  width: 198px;
  background-color: #595959;
  text-align: center;
  vertical-align: text-bottom;
}

.left_holder {
  float: left;
  width: 194px;
  text-align: left;
}

.right_holder {
  float: right;
  width: 570px;
  padding-right: 22px;
  text-align: left;
}

.spacer_left {
  background-image: url(../img/spacer.jpg);
  background-repeat: repeat-x;
  background-position: left top;
  height: 26px;
  width: 174px;
  margin-top: 6px;
}

.spacer_right {
  background-image: url(../img/spacer.jpg);
  background-repeat: repeat-x;
  background-position: left top;
  height: 26px;
  width: 570px;
  margin-top: 6px;
}

.description {
  background-image: url(../img/description_gradient.png);
  background-repeat: repeat-x;
  background-position: left top;
  width: 535px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #ededed;
  padding-right: 15px;

  img {
    width: 100%;
    height: auto;
  }
}

.newsUpdate {
  width: 80%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #FFF;
}

.new_products_big {
  width: 565px;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 20px;
}

.series_images {
  float: left;
  width: 141px;
  height: 230px;
}

.spec_table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #666;
  background-image: url(../img/specifications_bckg.png);
  background-repeat: repeat-y;
}

.footer_gradient {
  background-image: url(../img/footer_gradient.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  clear: both;
  width: 788px;
  height: 65px;
  margin-top: 20px;
  padding-top: 35px;
}

.header_link_address {
  &:visited {
    color: white;
    text-decoration: none;
  }
  color: white;
  text-decoration: none;
}

.slider_container {
  width: 586px;
  height: 262;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.2em;
}

.cs-title {
  background-color: #595959;
}

.pagination {
  margin: 0 -15px;
  padding: 15px 0;
  .page-item {
    display: inline-block;
    font-size: 1.5em;
    .page-link {
      line-height: 20px;
      padding: 15px;
    }
    a {
      color: #007eaa;
      text-decoration: none;
    }
  }
}